<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-card color="secondary">
      <ion-card-header>
        <ion-card-subtitle>Total Gastado</ion-card-subtitle>
        <ion-card-title>${{ totalGastado.toFixed(2) }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-list>
    <ion-item *ngFor="let gasto of gastosRecientes">
      
      <ion-label>
        <h2>{{ gasto.descripcion }}</h2>
        <p>{{ gasto.fecha }}</p>
      </ion-label>
      <ion-note slot="end" color="success">${{ gasto.monto }}</ion-note>
    </ion-item>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="abrirModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal #modal (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Nuevo Gasto</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Guardar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Descripción"
            labelPlacement="stacked"
            placeholder="Ej. Cena con amigos"
            [(ngModel)]="descripcion"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Monto"
            labelPlacement="stacked"
            type="number"
            placeholder="$0.00"
            [(ngModel)]="monto"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-button expand="block" color="secondary" (click)="addPhotoToGallery()">
            <ion-icon slot="start" name="camera"></ion-icon>
            Tomar Foto del Recibo
          </ion-button>
        </ion-item>

        <ion-item *ngIf="fotoSeleccionada">
          <img [src]="fotoSeleccionada" style="width: 100%; border-radius: 8px;" />
        </ion-item>

        <ion-item>
          <p>* Todos los gastos deben incluir foto del recibo</p>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
